body, html {
    height: 100%;
    margin: 0 auto;
  }
  
  .bgimg {
    /* background-color: #7200d4; */
    height: 200px;
    background: linear-gradient( 45deg, #F3C6CB 10%, #E4CBE4 41%,  #9CCBF2 61%);
    /* background-image: linear-gradient(to right, #F3C6CB, #E4CBE4, #9CCBF2,); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    /* font-family: "Courier New", Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  
  .topleft {
    top: 0;
  }
  .image-size{
      width: 500px;
  }
  .bottomleft {
    /* position: absolute;
    bottom: 0;
    left: 16px; */
  
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
  .middle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 100%;
  }
  p{
      color: #1e2963;
  }
  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#14003a 39%, rgba(33, 0, 79, 0.916702) 70%, #7200d5 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h5{
      color: #000000;
  }
  .c-position {
    position: absolute; 
    top: 90%;
    right: 5%;
  }
  .c-font-size{
    font-size: 16px;
  }